{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <!--<h2 class="post-feed-title">-->
            <!--Latest News-->
        <!--</h2>-->
        <div class="post-feed">
            {{#foreach posts from="1" to="5" }}
                {{> "home-section"}}
            {{/foreach}}
        </div>

        <div class="post-feed-container">
            <div class="post-feed post-feed-infinite-scroll">
                {{#foreach posts from="6" }}
                    {{> "post-card" }}
                {{/foreach}}
            </div>
        </div>
    </div>
</main>
