{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts from="0" to="5" }}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
            {{> "home-section"}}

            {{/foreach}}
        </div>

        <div class="post-feed">
            {{#foreach posts from="6" }}

            {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>
